%h1 Listing events
= link_to 'New Event', new_event_path, class: 'btn btn-success'
= link_to 'Add CSV', "#{events_path}/upload_csv", class: 'btn btn-success'
%br
%br
%table.table.tablesorter#events_table
  %thead
    %tr
      %th Name
      %th Start at
      %th End at
      %th
      %th
      %th
  %tbody
    - if @events
      - @events.each do |event|
        %tr
          %td= event.name
          %td= event.start_at.strftime '%m/%d/%y %H:%M %P'
          %td= event.end_at.strftime '%m/%d/%y %H:%M %P'
          %td= link_to 'Show', event
          %td= link_to 'Edit', edit_event_path(event)
          %td= link_to 'Destroy', event, :method => :delete, :data => { :confirm => 'Are you sure?' }
        
#pager.pager
  %form
    = image_tag "addons/pager/icons/first.png",  :class => "first"
    = image_tag "addons/pager/icons/prev.png",  :class => "prev"
    %input(type="text" class="pagedisplay")
    = image_tag "addons/pager/icons/next.png",  :class => "next"
    = image_tag "addons/pager/icons/last.png",  :class => "last"

    %select(class="pagesize")
      %option(selected="selected" value="10")
        10
      %option(value="20")
        20
      %option(value="30")
        30
      %option(value="40")
        40