<div class="sign_in-logo offset4"></div>
<div class="container">
  <div class="row">
    <div class="span4 offset4 well">
    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <legend>Please Sign In</legend>
        <% if flash.any? %>
            <div class="alert alert-error">
              <a class="close" data-dismiss="alert" href="#">×</a>Incorrect Username or Password!
            </div>
        <% end %>
        <%= f.input :email, :required => false,label: false, :autofocus => true,
                    input_html: { class: 'span4'}, placeholder: 'E-mail' %>
        <%= f.input :password, :required => false,label: false,
                    input_html: { class: 'span4' },placeholder:'Password' %>
        <% if devise_mapping.rememberable? %>
            <label class="checkbox" for="user_remember_me">
              <%= f.input :remember_me,input_html: {'data-toggle' => 'checkbox'},
                          :as => :boolean  %>
            </label>
        <% end %>
      </div>

  <%= f.button :submit, "Sign in",class:'btn btn-primary btn-block' %>
<% end %>

<%= render 'devise/shared/links' %>